@import url('https://fonts.googleapis.com/css2?family=Coda&family=Sriracha&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
}

button {
  width: 130px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  cursor: pointer;
  font-family: var(--main-font);
}

main {
  min-height: calc(100vh - 110px);
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header, footer {
  background-image: url(./assets/bg_marble.jpg);
  background-color: rgba(15, 17, 20, 0.2);
  background-blend-mode: multiply;
  background-position: bottom;
}

footer {
  height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

h1 {
  font-size: 3.5rem;
  color: var(--white-color);
  letter-spacing: 0.5rem;
  font-family: var(--logo-font);
}

h2 {
  margin-left: 2.5rem;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: flex-start;
  font-family: var(--logo-font);
  color: rgba(255, 255, 255, 0.7);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 1rem;
  letter-spacing: 2px;
  margin-right: 2rem;
}

nav a.active {
  color: var(--accent-color);
}

nav a:hover {
  color: var(--accent-color);
}


