:root {
    --main-font:'Ubuntu', sans-serif;
    --accent-color: rgb(243, 156, 154);
    --white-color: rgba(255, 255, 255, 0.7);
    --background: rgb(15, 17, 20);
    --border-color: rgba(244, 235, 235, 0.708);
    --logo-font: 'Coda', cursive;
    
  }
  
  [data-theme='light'] {
    --background: rgb(255, 250, 239);
    --white-color: rgb(48, 48, 48);
    --accent-color: #fb9417;
    --border-color: rgba(63, 63, 63, 0.632);
  }
  